@import 'variables';

.content {
  display: block;
  max-width: 960px;
  min-height: calc(100vh - 352px);
  padding-top: 15px;
  line-height: 1.5;

  h1 {
    margin: 10px 0 10px 0;
    padding: 0 40px 0 0;
    text-align: center;
    line-height: 1;
    font-family: 'Panton-Bold';
    font-size: 42px;
    color: $third-grey;
    z-index: 10;

    &:before {
      display: inline-block;
      vertical-align: middle;
      margin-right: -20px;
      width: 70px;
      height: 8px;
      background-color: $button-color;
      content: '';
    }

    span {
      position: relative;
    }
  }

  &__title-goals {
    margin-top: 0 !important;
  }

  h3 {
    margin: 30px 0 40px;
    padding: 0;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    font-weight: normal;
    font-family: 'FuturaPTBook';
  }

  p {
    margin: 10px 0;
    line-height: 30px;
    font-size: 18px;
    font-family: 'FuturaPTBook';
  }

  .inner-link,
  a {
    padding: 0;
    border: none;
    font-family: 'FuturaPTBook';
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    background: none;
    color: $blue-dark;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  .tab {
    margin: 18px 20px 25px;
    font-family: 'FuturaPTBook';
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 700px) {
  .content {
    padding-top: 0;
    margin-top: 18px;

    h1 {
      margin: 2px 20px;
      padding: 0 40px 0 0;
      line-height: 50px;
      font-size: 24px;

        &:before {
        margin-right: -15px;
        width: 40px;
        height: 4px;
      }
    }

    h3 {
      margin: 5px 40px 20px;
      line-height: 24px;
      font-size: 20px;
    }

    p {
      margin: 10px 20px;
      line-height: 24px;
      font-size: 17px;
      font-family: 'FuturaPTBook';
    }

    .inner-link,
    a {
      font-size: 17px;
    }

    .tab {
      font-size: 17px;
      margin: 8px 20px 25px;
    }
  }
}