@import 'variables';

.current-level {
  display: flex;
  margin: 40px 0 30px;
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: $light-grey;
  font-family: 'FuturaPTBook';

  &__col {
    padding: 20px 30px 30px;
  }

  &__col + &__col {
    border-left: 1px solid $border-color;
  }

  &__title {
    position: relative;
    font-size: 18px !important;
    color: #5d6678;

    &:before {
      position: absolute;
      left: -30px;
      top: 10px;
      width: 20px;
      height: 3px;
      background-color: $button-color;
      content: '';
    }
  }

  &__value {
    margin-left: 5px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: $green;
  }

  &__desc {
    margin-top: 10px;
    font-size: 18px !important;
    line-height: 25px;
  }
}

@media (max-width: 700px) {
  .current-level {
    display: block;
    margin-top: 18px;
    padding-left: 20px;

    &__col {
      padding-bottom: 20px;
    }

    &__col + &__col {
      padding-top: 0;
      border-left: none;
    }

    &__title {
      font-size: 17px;
    }

    &__desc {
      margin-top: 3px;
      font-size: 17px !important;
    }
  }
}
