@import 'variables';

.day-details {
  display: none;

  &>p:first-child {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px !important;
  }

  &__item {
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid $border-color;
    padding: 20px 25px 15px;
    background-color: #fff;
  }

  .day-details__item p {
    margin: 5px 0 10px !important;
    font-size: 18px;
    line-height: 25px;
  }

  .day-details__item h3 {
    margin: 5px 0 7px 0;
    text-align: left;
    font-family: 'Panton-Bold';
    font-size: 22px;
    line-height: 30px;
    color: $third-grey;
  }

  .day-details__item h4 {
    margin: 5px 0 5px 0;
    text-align: left;
    font-family: 'Panton-Bold';
    font-size: 18px;
    line-height: 30px;
    color: $third-grey;
  }

  .checkbox {
    margin-bottom: 5px;

    input {
      display: none;
    }

    label {
      display: block;
      position: relative;
      padding: 0 0 0 30px;
      font-size: 18px;
      font-family: 'FuturaPTBook';

      &:before {
        position: absolute;
        top: 6px;
        left: 0;
        border-radius: 3px;
        width: 16px;
        height: 16px;
        background-color: #dddfe0;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
      }
    }

    input:checked + label:before {
      background-color: $blue;
      background-image: url(../img/checkbox.png);
    }
  }

  &__columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__col {
    width: 48%;
  }

  .slider {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__prize {
    margin: 20px 0 28px;
    border-radius: 10px;
    padding: 12px 30px 2px 30px;
    background-color: $green;
    text-align: center;
    color: #fff;

    &__text {
      font-size: 18px !important;
    }

    &-title {
      font-size: 24px;
      line-height: 30px;
      font-family: 'FuturaPTBook';
    }

    &-code {
      display: inline-block;
      margin-left: 5px;
      border-radius: 3px;
      padding: 3px 12px;
      background-color: $green-dark;
    }

    p {
      margin-top: 0 !important;
    }
  }

  &__prize-code {
    font-size: 18px;
  }

  &__controls {
    margin: 20px auto;
    max-width: 500px;
    text-align: center;
    font-size: 18px;

    &-column {
      display: inline-block;
      vertical-align: top;
      max-width: 250px;
    }

    .button {
      margin-bottom: 10px;
    }
  }
}

.day .day-details>p {
  line-height: 25px;
  font-size: 16px;
}

.day--open .day-details {
  display: block;
}


@media (max-width: 700px) {
  .day-details {

    &__item {
      padding-top: 5px;
    }

    &__controls-column {
      margin-bottom: 20px;
    }

    &__prize-title {
      font-size: 20px;
    }

    &>p:first-child {
      font-size: 17px;
      line-height: 24px;
      margin: 10px 0 20px;
    }

    .day-details__item p {
      font-size: 17px;
      line-height: 24px;
    }

    .day-details__item h3 {
      font-size: 20px;
    }

    .day-details__item h4 {
      font-size: 17px;
    }

    .checkbox label {
      font-size: 17px;
    }
  }

  .js-close-day {
    margin-bottom: 0 !important;
  }
}
