@import 'variables';

.footer {
  margin-top: 50px;
  border-top: 2px solid #e6e6e8;
  padding: 25px;
  font-size: 12px;

  &__top {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
  }

  &__logo-block {
    margin-right: auto;
    padding-top: 5px;
    .logo {
      margin-bottom: 20px;
    }
  }

  &__contacts {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
    padding-left: 20px;
    text-align: right;
    white-space: nowrap;
  }

  &__text {
    color: $first-grey;
    text-decoration: none;
    font-family: 'FuturaPTBook';
    font-size: 1.15rem;
  }

  &__tel {
    margin-left: 35px;
    font-size: 1.6em;
    white-space: nowrap;
    font-family: 'Panton-Bold';
    font-size: 1.5rem;
    color: $third-grey;
  }
}

@media (max-width: 1099px) {
  .footer {

    &__contacts {
      width: 200px;
    }
  }
}

@media (max-width: 1023px) {
  .footer {

    &__top {
      flex-wrap: wrap;
    }

    .logo {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 800px) {
  .footer {
    &__logo-block {
      .logo {
        margin-bottom: 5px;
      }
    }

    &__tel {
      font-size: 18px;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    &__logo-block {
      margin: 0 auto;
      .logo--footer {
        text-align: center;
      }
    }

    &__contacts {
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}

@media (max-width: 380px) {
  .footer {
    &__tel {
      margin-left: 0;
    }
    &__text {
      margin-right: 15px;
    }
  }
}
