@import 'variables';

.goals {
  margin: 75px 0 20px;

  &__mF {
    line-height: 25px !important;
    margin: 10px 20px 5px !important;
  }

  &__title {
    margin: 10px 0 10px 0;
    text-align: center;
    line-height: 1;
    font-family: 'Panton-Bold';
    font-size: 42px;
    color: $third-grey;
  }

  &__note {
    margin: 20px 0 35px;
    text-align: center;
    font-family: 'FuturaPTBook';
    font-size: 18px;
    line-height: 25px;
  }

  &__minimize-all {
    margin: 10px 20px 20px 20px;
    text-align: right;

    .button {
      text-decoration: underline;
    }
  }
}

@media (max-width: 700px) {
  .goals {
    margin-top: 30px;

    &__title {
      font-size: 24px;
    }

    &__note {
      margin: 5px 30px 15px;
      font-size: 17px;
      line-height: 24px;
    }

    &__mF {
      font-size: 18px !important;
    }

    &__minimize-all {
      text-align: center;

      .button {
        font-size: 16px;
      }
    }
  }
}
