@import 'variables';

.goals {
  margin: 70px 0 20px;

  &__title {
    margin: 10px 0 10px 0;
    text-align: center;
    line-height: 1;
    font-family: 'Panton-Bold';
    font-size: 42px;
    color: $third-grey;
  }

  &__note {
    margin: 20px 0 30px;
    text-align: center;
  }

  &__minimize-all {
    margin: 10px 0 20px 0;
    text-align: right;

    .button {
      text-decoration: underline;
    }
  }
}

@media (max-width: 700px) {
  .goals {
    margin-top: 30px;

    &__title {
      font-size: 30px;
    }

    &__note {
      margin-right: 30px;
      margin-left: 30px;
    }

    &__minimize-all {
      text-align: center;

      .button {
        font-size: 16px;
      }
    }
  }
}
