@import 'variables';

.goals-navigation {
  margin: 12px 0 20px;
  text-align: center;

  &__item[href] {
    display: inline-block;
    position: relative;
    margin: 0 25px;
    color: $third-grey;
    text-decoration: none;

    &:hover {
      .goals-navigation__title {
        text-decoration: none;
      }
    }
  }

  &__title {
    display: block;
    text-decoration: underline;
  }

  &__dates {
    font-size: 15px;
    line-height: 20px;
    color: $second-grey;
  }

  &__prev:after,
  &__next:after {
    position: absolute;
    top: 0px;
    font-size: 25px;
    line-height: 1;
  }

  &__prev:after {
    content: '←';
    right: 100%;
    margin-right: 5px;
  }

  &__next:after {
    content: '→';
    left: 100%;
    margin-left: 5px;
  }

  &__active {
    .goals-navigation__title {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 700px) {
  .goals-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;

    &__item[href] {
      margin: 0 1.5vw;
      font-size: 15px;
    }

    &__title {
      font-size: 18px;
    }
  }
}
