@import 'variables';

.nav-menu {
  min-height: 60px;
  vertical-align: middle;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3vw 0 2vw;
  }

  &__link {
    border: none;
    box-sizing: border-box;
    padding: 17px 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'FuturaPTMedium';
    font-size: 13px;
    white-space: nowrap;
    background: none;
    color: #868b91;
    cursor: pointer;
  }

  &__link:hover,
  &__item--active &__link {
    margin-top: 3px;
    border-bottom: 3px solid #dddfe0;
    color: $third-grey;
  }

  .show-on-mobile {
    display: none;
  }
}

@media (max-width: 950px) {
  .nav-menu {

    &__item {
      margin: 0 1.5vw;
      white-space: nowrap;
    }
  }
}

@media (max-width: 700px) {
  .nav-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 100px;
    transform: translateY(-150%);
    transition: transform .3s;
    background-color: rgba(0, 0, 0, .8);

    &--open {
      transform: translateY(0);
      max-width: 100%;
    }

    &__list {
      display: block;
    }

    &__link {
      display: block;
      width: 100%;
      text-align: center;
      text-transform: none;
      font-size: 25px;
      line-height: 1;
      color: #ddd;
    }

    &__link:hover,
    &__item--active &__link {
      margin-top: 0;
      border-bottom: none;
      color: #fff;
    }

    .show-on-mobile {
      display: block;
    }

    &__item--tab {
      margin-top: 30px;
    }
  }
}
