@import 'variables';

.questions {
  border-radius: 10px;
  border: 1px solid #e6e6e8;
  padding: 0 20px 60px;

  &__list {
    margin: 0 auto 55px auto;
    width: 90%;
    max-width: 900px;
    padding: 0;
    list-style: none;
  }
}

@media (max-width: 800px) {
  .questions {
    padding: 0;

    &__list {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}