$button-color: #ffdd2d;
$button-color-hover: #fcd40d;
$first-grey: #747474;
$second-grey: #9ea4ac;
$third-grey: #333;
$light-grey: #f5f5f6;
$blue-bg: #ecf1f7;
$blue-light: #f5f5f6;
$blue-dark: #3d7ab6;
$blue: #5d9ad6;
$border-color: #e6e6e8;
$error-color: #d00;
$info-bg: #dee2e8;
$warning-bg: #5d6678;
$green: #23b026;
$lineheight: 1rem;
